@import url("https://fonts.googleapis.com/css2?family=Langar&display=swap");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --boder-radius: 16px;
  --card-size: 100px;
}

.card {
  display: flex;
  border: 8px solid #525252;
  border-radius: var(--boder-radius);
  width: var(--card-size);
  height: var(--card-size);
  font-size: 70px;
  font-family: "Langar", cursive;
  cursor: pointer;
}

.card.X {
  color: #ff3333;
}

.card.O {
  color: #40a0ff;
}

.card.top {
  border-top-left-radius: 0;
}
.card.right {
  border-top-right-radius: 0;
}
.card.left {
  border-bottom-left-radius: 0;
}
.card.bottom {
  border-bottom-right-radius: 0;
}
/* Borders */
.card.b-top {
  margin-top: -8px;
}

.card.b-right {
  margin-right: -8px;
}

.card.b-bottom {
  margin-bottom: -8px;
}

.card.b-left {
  margin-left: -8px;
}

.card > span {
  margin: auto;
}

.card-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: calc(var(--card-size) * 3);
  height: calc(var(--card-size) * 3);
  margin: auto;
}

.App {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  position: relative;
}

.trans-container {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.25);
  z-index: 100;
}

.play-btn {
  position: absolute;
  top: 50%;
  left: 45%;
  z-index: 101;
}

button {
  border: 0;
  cursor: pointer;
  font-size: 1.2em;
  padding: 1rem;
  border-radius: 8px;
  outline: none;
  min-width: 150px;
  font-weight: bold;
}

.play-btn > button {
  background-color: #0394fc;
  color: #fff;
}

.play-btn > div,
.status {
  margin: 16px 0 16px 0;
  font-family: "evilempire";
  color: #ff3b3b;
  font-size: 2em;
  text-align: center;
}
.bottomBar {
  display: flex;
  margin-bottom: 10px;
}
.bottomBar > button {
  margin: 0 auto 0 auto;
  background: #06d64c;
  color: #fff;
}
